* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 19px;
    line-height: 1.5;
}
  body {
    font-family: sans-serif;
  }
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #222835;
}
body::-webkit-scrollbar-thumb:hover {
  background: #A66064;
}
  nav {

    background: white;
    padding: 0px 40px;
    font-family: 'Poppins', sans-serif;


  }
  ul {
    list-style-type: none;
  }

  a {
    color: #3c475f;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .logo{
    color: #6F76D9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {

    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  
  .logo a,
  .toggle a {
    font-weight: bold;  
    font-size: 22px;
  }


.my-20{
    margin-bottom: 20px;
    margin-top:20px;
}
.text-muted{
    color:  #8D95A6;
}
.title{
    color:#123688;
}
.text-active{
    color: #6F76D9;
}

.title{
    color:#123688;
}
.subtitle{
    font-size: 1.2em;
    
}

  
  /* Mobile menu */
  .menu {
    margin-left: auto;
    margin-right: auto;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  


main{
    width: 100%;
    padding:0 20px;
}


  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
   
  

  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu{
        padding: 15px 0px;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
    .title-div{
        width: 67%
    }
   
  }
  
  
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1
        transform: translateX(0px);
    }
}