html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

#button {
  display: inline-block;
  background-color: #01cbc6;
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: lightgreen;
}

#button:active {
  background-color: lightgreen;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
