@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html {
  scroll-behavior: smooth;
}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

.formbox{
  color:black;  
  font-size:20px;
 
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.wave{
  position: relative;
  left:0;
  bottom:0;
}
.carousel-item{
  background: #FFB0C2;
}
.container{
  display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
        height:50%;
}
.container1{
  display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
      

}

.to-top {
  background: #FC0FC0;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.to-top.active:hover{
  color:white;
}

/*Extra small (xs) devices (portrait phones, less than 576px)*/
@media (min-width: 200px){
  .heading1{
    font-size:35px;
    margin-top:30px;
  }
  .para1{
    margin-top:30px;
  } 
}

/*Small (sm) devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .heading1{
    font-size:50px;
    margin-top:5px;
  }
  .para1{
    font-size:15px;
    margin-top:30px;
  }

}

/*Medium (md) devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .heading1{
    font-size:60px;
    margin-top:5px;
  }
  .para1{
    font-size:20px;
    margin-top:30px;
  }
 
}

/*Large (lg) devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .container{
    height:10rem;
  }
  .heading1{
    font-size:60px;
    margin-top:5px;
  }
  .para1{
    font-size:20px;
    margin-top:30px;
  }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}

.form-group input{
  width:100%;
  height:100%;
  padding-top:10px;
  border:none;
  border-bottom: 5px solid #FFB0C2;

}


.demo
{
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
}
.our-team{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .pic:before{
    content: "";
    background: #716a9e;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 0.78;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .pic:before{
    transform: scale(1);
}

.our-team .pic img{
    width: 100%;
    height: auto;
}

.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .social{
    opacity: 1;
}

.our-team .social li{
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li:nth-child(1){
    transform: translate3d(22px, -19px, 0px);
}

.our-team:hover .social li:nth-child(1){
    transform: translate3d(62px, -19px, 0px);
}

.our-team .social li:nth-child(2){
    transform: translate3d(36px, 38px, 0px);
}

.our-team:hover .social li:nth-child(2){
    transform: translate3d(36px, 8px, 0px);
}

.our-team .social li:nth-child(3){
    transform: translate3d(-18px, -75px, 0px);
}

.our-team:hover .social li:nth-child(3){
    transform: translate3d(-18px, -46px, 0px);
}

.our-team .social li:nth-child(4){
    transform: translate3d(-5px, -19px, 0px);
}

.our-team:hover .social li:nth-child(4){
    transform: translate3d(-43px, -19px, 0px);
}

.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #333;
    font-size: 16px;
    color: #fff;
    margin: 0 15px 0 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover{
    line-height: 35px;
    background: #fff;
    color: #333;
    transform: rotate(-45deg);
}

.our-team .social li a i{
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover i{
    transform: rotate(45deg);
}

.our-team .team-content{
    padding: 15px 10px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.our-team small{
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
}

.our-team .team-layer{
    width: 100%;
    padding: 34px 10px;
    background: #f7f7f7;
    border-bottom: 2px solid #716a9e;
    position: absolute;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .team-layer{
    bottom: 0;
    opacity: 1;
}

.our-team .team-layer a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .team-layer a:hover{
    color: #716a9e;
}

.our-team .post{
    display: block;
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 35px; }
}@charset "utf-8";
/* CSS Document */






