<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Breast Cancer Prediction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>
<body >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200"><path fill="#FFB0C2" fill-opacity="1" d="M0,128L80,138.7C160,149,320,171,480,160C640,149,800,107,960,80C1120,53,1280,43,1360,37.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <h1 style="text-align:center;">Fill in the following details:</h1>

<!-- form -->

<div style="padding:40px;">
    
	
	<form class="form-horizontal" action="/predict" method="post" style="margin: auto;width:90%;background-color:rgb(241, 236, 237,0.5);box-shadow: -20px 0px 10px 1px #aaaaaa;">
		
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value1" style="padding-top:10px" >Radius Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value1" placeholder="Enter radius_mean" name="value1" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value2" >Texture Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value2" placeholder="Enter texture_mean" name="value2" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value3" >Perimeter Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value3" placeholder="Enter perimeter_mean" name="value3" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value4" >Area Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value4" placeholder="Enter area_mean" name="value4" autocomplete="off" required>
		  </div>
		</div>
	
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value5" >Smoothness Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value5" placeholder="Enter smoothness_mean" name="value5" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value6" >Compactness Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value6" placeholder="Enter compactness_mean" name="value6" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value7" >Concavity Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value7" placeholder="Enter concavity_mean" name="value7" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value8" >Concave Points Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value8" placeholder="Enter concave points_mean" name="value8" autocomplete="off" required>
		  </div>
		</div>
	
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value9" >Symmetry Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value9" placeholder="Enter symmetry_mean" name="value9" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value10" >Fractal Dimension Mean</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value10" placeholder="Enter fractal_dimension_mean" name="value10" autocomplete="off" required>
		  </div>
		</div>
	
		
	
		
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value11" >Radius SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value11" placeholder="Enter radius_se" name="value11" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value12" >Texture SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value12" placeholder="Enter texture_se" name="value12" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value13" >Perimeter SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value13" placeholder="Enter perimeter_se" name="value13" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value14" >Area SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value14" placeholder="Enter area_se" name="value14" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value15" >Smoothness SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value15" placeholder="Enter smoothness_se" name="value15" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value16" >Compactness SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value16" placeholder="Enter compactness_se" name="value16" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value17" >Concavity SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value17" placeholder="Enter concavity_se" name="value17" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value18" >Concave Points SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value18" placeholder="Enter concave points_se" name="value18" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value19" >Symmetry SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value19" placeholder="Enter symmetry_se" name="value19" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value20" >Fractal Dimension SE</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value20" placeholder="Enter fractal_dimension_se" name="value20" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value21" >Radius Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value21" placeholder="Enter radius_worst" name="value21" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value22" >Texture Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value22" placeholder="Enter texture_worst" name="value22" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value23" >Perimeter Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value23" placeholder="Enter perimeter_worst" name="value23" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value24" >Area Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value24" placeholder="Enter area_worst" name="value24" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value25" >Smoothness Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value25" placeholder="Enter smoothness_worst" name="value25" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value26" >Compactness Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value26" placeholder="Enter compactness_worst" name="value26" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value27" >Concavity Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value27" placeholder="Enter concavity_worst" name="value27" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value28" >Concave Points Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value28" placeholder="Enter concave points_worst" name="value28" autocomplete="off" required>
		  </div>
		</div>
	
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value29" >Symmetry Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value29" placeholder="Enter symmetry_worst" name="value29" autocomplete="off" required>
		  </div>
		</div>
	
		<div class="form-group">
		  <label class="control-label col-sm-2 formbox" for="value30" >Fractal Dimension Worst</label>
		  <div class="col-sm-10">
			<input type="text" class="form-control" id="value30" placeholder="Enter fractal_dimension_worst" name="value30" autocomplete="off" required>
		  </div>
		</div>        
		<div class="form-group" style="display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		text-align:center;padding:2px;">        
			<div class="col-md-4 col-lg-2" style="margin-bottom: 10px;text-align:center">
				<input class="btn" style="height:40px;background-color:#FFB0C2;  color:black;font-size:16px" type="submit" name="Submit Request">
			</div>
		</div>

</div>
</form>
</div>
</div>
</body>
</html>



