<!DOCTYPE html>
<html lang="en">
<head>
  <title>Breast Cancer Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* css for back to top button */
  html {
    scroll-behavior: smooth;
  }
  a , a:hover
  {
    text-decoration: none;
  }
  #button {
    display: inline-block;
    background-color: #01CBC6;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  #button:active {
    background-color: lightgreen;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  
  @media (min-width: 500px) {
    
    #button {
      margin: 30px;
    }
  }
  
  </style>
</head>
<body>
    <!-- Back to top button -->
<a id="button"></a>


{% include "footer.html" %}

  <div class="container">
    
  {% include "tumor.html" %}



    <div style="margin: 40px;padding: 20px;font-size: 1.3em;background-color: #67E6DC">

      <ul class="nav nav-tabs" style="background-color: #67E6DC">
        <li class="active"><a data-toggle="tab" href="#home" style="font-family: 'Balsamiq Sans', cursive;">What is Breast Cancer</a></li>
        <li><a data-toggle="tab" href="#menu1" style="font-family: 'Balsamiq Sans', cursive;">Who gets Breast Cancer</a></li>
        <li><a data-toggle="tab" href="#menu2" style="font-family: 'Balsamiq Sans', cursive;">What Are the Symptoms of Breast Cancer</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">What is Breast Cancer</h3>
          <p style="font-family: 'Balsamiq Sans', cursive;">Cancers are typically named after the part of the body from which they originate. Breast cancer originates in the breast tissue. Like other cancers, breast cancer can invade and grow into the tissue surrounding the breast. It can also travel to other parts of the body and form new tumors, a process called metastasis..</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">Who gets Breast Cancer</h3>
          <p style="font-family: 'Balsamiq Sans', cursive;">Breast cancer ranks second as a cause of cancer death in women (after lung cancer). Today, about 1 in 8 women (12%) will develop breast cancer in her lifetime. The American Cancer Society estimated that in 2017, about 252,710 women will be diagnosed with invasive breast cancer and about 40,610 will die from the disease.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">Some Symptoms of Breast Cancer include:</h3>
          <p>
            <ul style="font-family: 'Balsamiq Sans', cursive;">
              <li>A mass or lump, which may feel as small as a pea.</li>
              <li>A change in the size, shape, or contour of the breast.</li>
              <li>A blood-stained or clear fluid discharge from the nipple.</li>
              <li>Redness of the skin on the breast or nipple.</li>
              <li>An area that is distinctly different from any other area on either breast.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>


    <div style="background-color:#53E0BC; padding: 20px; margin: 40px">

      <form class="form-horizontal" action="/predict" method="post">
        <div class="form-group">
          <label class="control-label col-sm-2" for="value1" style="font-family: 'Balsamiq Sans', cursive;">Radius Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value1" placeholder="Enter radius_mean" name="value1"  required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value2" style="font-family: 'Balsamiq Sans', cursive;">Texture Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value2" placeholder="Enter texture_mean" name="value2" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value3" style="font-family: 'Balsamiq Sans', cursive;">Perimeter Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value3" placeholder="Enter perimeter_mean" name="value3" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value4" style="font-family: 'Balsamiq Sans', cursive;">Area Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value4" placeholder="Enter area_mean" name="value4" required>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value5" style="font-family: 'Balsamiq Sans', cursive;">Smoothness Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value5" placeholder="Enter smoothness_mean" name="value5" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value6" style="font-family: 'Balsamiq Sans', cursive;">Compactness Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value6" placeholder="Enter compactness_mean" name="value6" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value7" style="font-family: 'Balsamiq Sans', cursive;">Concavity Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value7" placeholder="Enter concavity_mean" name="value7" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value8" style="font-family: 'Balsamiq Sans', cursive;">Concave Points Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value8" placeholder="Enter concave points_mean" name="value8" required>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value9" style="font-family: 'Balsamiq Sans', cursive;">Symmetry Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value9" placeholder="Enter symmetry_mean" name="value9" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value10" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension Mean</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value10" placeholder="Enter fractal_dimension_mean" name="value10" required>
          </div>
        </div>

        

        
        <div class="form-group">
          <label class="control-label col-sm-2" for="value11" style="font-family: 'Balsamiq Sans', cursive;">Radius SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value11" placeholder="Enter radius_se" name="value11" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value12" style="font-family: 'Balsamiq Sans', cursive;">Texture SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value12" placeholder="Enter texture_se" name="value12" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value13" style="font-family: 'Balsamiq Sans', cursive;">Perimeter SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value13" placeholder="Enter perimeter_se" name="value13" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value14" style="font-family: 'Balsamiq Sans', cursive;">Area SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value14" placeholder="Enter area_se" name="value14" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value15" style="font-family: 'Balsamiq Sans', cursive;">Smoothness SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value15" placeholder="Enter smoothness_se" name="value15" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value16" style="font-family: 'Balsamiq Sans', cursive;">Compactness SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value16" placeholder="Enter compactness_se" name="value16" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value17" style="font-family: 'Balsamiq Sans', cursive;">Concavity SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value17" placeholder="Enter concavity_se" name="value17" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value18" style="font-family: 'Balsamiq Sans', cursive;">Concave Points SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value18" placeholder="Enter concave points_se" name="value18" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value19" style="font-family: 'Balsamiq Sans', cursive;">Symmetry SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value19" placeholder="Enter symmetry_se" name="value19" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value20" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension SE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value20" placeholder="Enter fractal_dimension_se" name="value20" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value21" style="font-family: 'Balsamiq Sans', cursive;">Radius Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value21" placeholder="Enter radius_worst" name="value21" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value22" style="font-family: 'Balsamiq Sans', cursive;">Texture Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value22" placeholder="Enter texture_worst" name="value22" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value23" style="font-family: 'Balsamiq Sans', cursive;">Perimeter Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value23" placeholder="Enter perimeter_worst" name="value23" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value24" style="font-family: 'Balsamiq Sans', cursive;">Area Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value24" placeholder="Enter area_worst" name="value24" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value25" style="font-family: 'Balsamiq Sans', cursive;">Smoothness Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value25" placeholder="Enter smoothness_worst" name="value25" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value26" style="font-family: 'Balsamiq Sans', cursive;">Compactness Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value26" placeholder="Enter compactness_worst" name="value26" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value27" style="font-family: 'Balsamiq Sans', cursive;">Concavity Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value27" placeholder="Enter concavity_worst" name="value27" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value28" style="font-family: 'Balsamiq Sans', cursive;">Concave Points Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value28" placeholder="Enter concave points_worst" name="value28" required>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value29" style="font-family: 'Balsamiq Sans', cursive;">Symmetry Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value29" placeholder="Enter symmetry_worst" name="value29" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value30" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension Worst</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value30" placeholder="Enter fractal_dimension_worst" name="value30" required>
          </div>
        </div>        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" name="Submit Request">
          </div>
        </div>
      </form>
      
    </div>

    {% include "copyrights.html" %}

  </div>  


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
      var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


    </script>
</body>
</html>
