<!DOCTYPE html>
<html lang="en">
<head>
  <title>Breast Cancer Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type="image/png" href='/static/images/icon.png' />
  <!-- Icon credit: https://www.flaticon.com/free-icons/breast-cancer-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* css for back to top button */
  html {
    scroll-behavior: smooth;
  }
  a , a:hover
  {
    text-decoration: none;
  }
  #button {
    display: inline-block;
    background-color: #01CBC6;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  #button:active {
    background-color: lightgreen;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  
  @media (min-width: 500px) {
    
    #button {
      margin: 30px;
    }
  }
  
  </style>
</head>

<!--
<script>
function toggleField(hideObj,showObj){
  hideObj.disabled=true;        
  hideObj.style.display='none';
  showObj.disabled=false;   
  showObj.style.display='inline';
  showObj.focus();
}
</script>
-->

<body>
    <!-- Back to top button -->
<a id="button"></a>


{% include "footer.html" %}

  <div class="container">
    
  {% include "tumor.html" %}



    <div style="margin: 40px;padding: 20px;font-size: 1.3em;background-color: #67E6DC">

      <ul class="nav nav-tabs" style="background-color: #67E6DC">
        <li class="active"><a data-toggle="tab" href="#home" style="font-family: 'Balsamiq Sans', cursive;">What is Breast Cancer</a></li>
        <li><a data-toggle="tab" href="#menu1" style="font-family: 'Balsamiq Sans', cursive;">Who gets Breast Cancer</a></li>
        <li><a data-toggle="tab" href="#menu2" style="font-family: 'Balsamiq Sans', cursive;">What Are the Symptoms of Breast Cancer</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">What is Breast Cancer</h3>
          <p style="font-family: 'Balsamiq Sans', cursive;">Cancers are typically named after the part of the body from which they originate. Breast cancer originates in the breast tissue. Like other cancers, breast cancer can invade and grow into the tissue surrounding the breast. It can also travel to other parts of the body and form new tumors, a process called metastasis..</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">Who gets Breast Cancer</h3>
          <p style="font-family: 'Balsamiq Sans', cursive;">Breast cancer ranks second as a cause of cancer death in women (after lung cancer). Today, about 1 in 8 women (12%) will develop breast cancer in her lifetime. The American Cancer Society estimated that in 2017, about 252,710 women will be diagnosed with invasive breast cancer and about 40,610 will die from the disease.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3 style="font-family: 'Balsamiq Sans', cursive;">Some Symptoms of Breast Cancer include:</h3>
          <p>
            <ul style="font-family: 'Balsamiq Sans', cursive;">
              <li>A mass or lump, which may feel as small as a pea.</li>
              <li>A change in the size, shape, or contour of the breast.</li>
              <li>A blood-stained or clear fluid discharge from the nipple.</li>
              <li>Redness of the skin on the breast or nipple.</li>
              <li>An area that is distinctly different from any other area on either breast.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>


    <div style="background-color:#53E0BC; padding: 20px; margin: 40px">

      <form class="form-horizontal" action="/predict" method="post">
        <div class="form-group">
          <label class="control-label col-sm-2" for="value1" style="font-family: 'Balsamiq Sans', cursive;">Radius Mean</label>
          <div class="col-sm-10">
          
          	<!--  We can use select as well as datalist to display a dropdown, here I'm using datalist-->
		<!--<select name="value1"  class="form-control"  placeholder="Enter radius_mean"
		  onchange="if(this.options[this.selectedIndex].value=='customOption'){
		      toggleField(this,this.nextSibling); this.selectedIndex='0';}">

		    <option value="customOption">Enter radius_mean</option>
		    {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		    {% endfor %}    
		</select><input type="text" class="form-control" id="value1" name="value1" required 				style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> -->
		
	    <input type="text" list = "values1" class="form-control" placeholder="Enter area_mean" name="value1" id = "value1" required/>
            <datalist id="values1" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
	    
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value2" style="font-family: 'Balsamiq Sans', cursive;">Texture Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values2" class="form-control" placeholder="Enter texture_mean" name="value2" id = "value2" required/>
            <datalist id="values2" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value3" style="font-family: 'Balsamiq Sans', cursive;">Perimeter Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values3" class="form-control" placeholder="Enter perimeter_mean" name="value3" id = "value3" required/>
            <datalist id="values3" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value4" style="font-family: 'Balsamiq Sans', cursive;">Area Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values4" class="form-control" placeholder="Enter area_mean" name="value4" id = "value4" required/>
            <datalist id="values4" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value5" style="font-family: 'Balsamiq Sans', cursive;">Smoothness Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values5" class="form-control" placeholder="Enter smoothness_mean" name="value5" id = "value5" required/>
            <datalist id="values5" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value6" style="font-family: 'Balsamiq Sans', cursive;">Compactness Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values6" class="form-control" placeholder="Enter compactness_mean" name="value6" id = "value6" required/>
            <datalist id="values6" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value7" style="font-family: 'Balsamiq Sans', cursive;">Concavity Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values7" class="form-control" placeholder="Enter concavity_mean" name="value7" id = "value7" required/>
            <datalist id="values7" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value8" style="font-family: 'Balsamiq Sans', cursive;">Concave Points Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values8" class="form-control" placeholder="Enter concave_points_mean" name="value8" id = "value8" required/>
            <datalist id="values8" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value9" style="font-family: 'Balsamiq Sans', cursive;">Symmetry Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values9" class="form-control" placeholder="Enter symmetry_mean" name="value9" id = "value9" required/>
            <datalist id="values9" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value10" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension Mean</label>
          <div class="col-sm-10">
            <input type="text" list = "values10" class="form-control" placeholder="Enter fractal_dimension_mean" name="value10" id = "value10" required/>
            <datalist id="values10" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2" for="value11" style="font-family: 'Balsamiq Sans', cursive;">Radius SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values11" class="form-control" placeholder="Enter radius_se" name="value11" id = "value11" required/>
            <datalist id="values11" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value12" style="font-family: 'Balsamiq Sans', cursive;">Texture SE</label>
          <div class="col-sm-10">
	    <input type="text" list = "values12" class="form-control" placeholder="Enter texture_se" name="value12" id = "value12" required/>
            <datalist id="values12" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value13" style="font-family: 'Balsamiq Sans', cursive;">Perimeter SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values13" class="form-control" placeholder="Enter perimeter_se" name="value13" id = "value13" required/>
            <datalist id="values13" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value14" style="font-family: 'Balsamiq Sans', cursive;">Area SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values14" class="form-control" placeholder="Enter area_se" name="value14" id = "value14" required/>
            <datalist id="values14" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value15" style="font-family: 'Balsamiq Sans', cursive;">Smoothness SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values15" class="form-control" placeholder="Enter smoothness_se" name="value15" id = "value15" required/>
            <datalist id="values15" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value16" style="font-family: 'Balsamiq Sans', cursive;">Compactness SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values16" class="form-control" placeholder="Enter compactness_se" name="value16" id = "value16" required/>
            <datalist id="values16" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value17" style="font-family: 'Balsamiq Sans', cursive;">Concavity SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values17" class="form-control" placeholder="Enter concavity_se" name="value17" id = "value17" required/>
            <datalist id="values17" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value18" style="font-family: 'Balsamiq Sans', cursive;">Concave Points SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values18" class="form-control" placeholder="Enter concave_points_se" name="value18" id = "value18" required/>
            <datalist id="values18" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value19" style="font-family: 'Balsamiq Sans', cursive;">Symmetry SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values19" class="form-control" placeholder="Enter symmetry_se" name="value19" id = "value19" required/>
            <datalist id="values19" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value20" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension SE</label>
          <div class="col-sm-10">
            <input type="text" list = "values20" class="form-control" placeholder="Enter fractal_dimension_se" name="value20" id = "value20" required/>
            <datalist id="values20" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value21" style="font-family: 'Balsamiq Sans', cursive;">Radius Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values21" class="form-control" placeholder="Enter radius_worst" name="value21" id = "value21" required/>
            <datalist id="values21" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value22" style="font-family: 'Balsamiq Sans', cursive;">Texture Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values22" class="form-control" placeholder="Enter texture_worst" name="value22" id = "value22" required/>
            <datalist id="values22" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value23" style="font-family: 'Balsamiq Sans', cursive;">Perimeter Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values23" class="form-control" placeholder="Enter perimeter_worst" name="value23" id = "value23" required/>
            <datalist id="values23" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value24" style="font-family: 'Balsamiq Sans', cursive;">Area Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values24" class="form-control" placeholder="Enter area_worst" name="value24" id = "value24" required/>
            <datalist id="values24" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value25" style="font-family: 'Balsamiq Sans', cursive;">Smoothness Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values25" class="form-control" placeholder="Enter smoothness_worst" name="value25" id = "value25" required/>
            <datalist id="values25" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value26" style="font-family: 'Balsamiq Sans', cursive;">Compactness Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values26" class="form-control" placeholder="Enter compactness_worst" name="value26" id = "value26" required/>
            <datalist id="values26" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value27" style="font-family: 'Balsamiq Sans', cursive;">Concavity Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values27" class="form-control" placeholder="Enter concavity_worst" name="value27" id = "value27" required/>
            <datalist id="values27" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value28" style="font-family: 'Balsamiq Sans', cursive;">Concave Points Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values28" class="form-control" placeholder="Enter concave_points_worst" name="value28" id = "value28" required/>
            <datalist id="values28" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="value29" style="font-family: 'Balsamiq Sans', cursive;">Symmetry Worst</label>
          <div class="col-sm-10">
           <input type="text" list = "values29" class="form-control" placeholder="Enter symmetry_worst" name="value29" id = "value29" required/>
            <datalist id="values29" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="value30" style="font-family: 'Balsamiq Sans', cursive;">Fractal Dimension Worst</label>
          <div class="col-sm-10">
            <input type="text" list = "values30" class="form-control" placeholder="Enter fractal_dimension_worst" name="value30" id = "value30" required/>
            <datalist id="values30" >
		  {% for i in range(0,4) %}
		      <option value="{{ i }}">{{ i }}</option>
		  {% endfor %}
	    </datalist>
          </div>
        </div>        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" name="Submit Request">
          </div>
        </div>
      </form>
      
    </div>

    {% include "copyrights.html" %}

  </div>  


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script>
      var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


    </script>
</body>
</html>
