<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Breast Cancer Prediction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>

<div class="container1 text-center" style="height:60vh" >
	<div class="row">
		<div class="col-md-12 col-sm-12"><h1 class="display-3" style="padding-bottom: 2rem;">Breast cancer predictor</h1>
			<p style="font-size:18px;">This predicts whether the cancer is benign or malignant with an accuracy of more than 95%.</p>
	</div>
</div>
</div>
<svg style="display:block" class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffa7bb" fill-opacity="0.9" d="M0,0L40,5.3C80,11,160,21,240,53.3C320,85,400,139,480,170.7C560,203,640,213,720,208C800,203,880,181,960,160C1040,139,1120,117,1200,106.7C1280,96,1360,96,1400,96L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>


<div class="container-fluid" style="padding: 0;">
	<div id="slides" style="margin-top:0" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
		<li data-target="#slides" data-slide-to="3"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active" >
			<div class="container" style="height:30rem">
				<h1 class="display-4 heading1" >What is Breast Cancer?</h1>
				<p class="para1">Cancers are typically named after the part of the body from which they originate. Breast cancer originates in the breast tissue. Like other cancers, breast cancer can invade and grow into the tissue surrounding the breast. It can also travel to other parts of the body and form new tumors, a process called metastasis?</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container" style="height:30rem">
				<h1 class="display-4 heading1" >Who gets Breast Cancer?</h1>
				<p class="para1">Breast cancer ranks second as a cause of cancer death in women (after lung cancer). Today, about 1 in 8 women (12%) will develop breast cancer in her lifetime. The American Cancer Society estimated that in 2017, about 252,710 women will be diagnosed with invasive breast cancer and about 40,610 will die from the disease.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container" style="height:30rem">
				<h1 class="display-4 heading1" >When do i see a doctor?</h1>
				<p class="para1">If you find a lump or other change in your breast — even if a recent mammogram was normal — make an appointment with your doctor for prompt evaluation</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container" style="height:30rem">
				<h1 class="display-4 heading1" >What are the Symptoms of Breast Cancer?</h1>
				<p class="para1">A mass or lump, which may feel as small as a pea.
					A change in the size, shape, or contour of the breast.
					A blood-stained or clear fluid discharge from the nipple.
					Redness of the skin on the breast or nipple.
					An area that is distinctly different from any other area on either breast</p>
			</div>
		</div>
	
	</div>
	</div>
	<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill=" #FFB0C2" fill-opacity="1" d="M0,192L48,160C96,128,192,64,288,42.7C384,21,480,43,576,74.7C672,107,768,149,864,154.7C960,160,1056,128,1152,122.7C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>

<div class="container-fluid" style="display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;height:80vh;" >
<div class="col-md-4 col-lg-2">
<form action="/redirect" method="post">
  <button type="submit" class="btn  btn-block" style="background-color:#FFB0C2;font-size: 30px;margin-bottom:40px;">Predict</button>
</form>
</div>
</div>

<div style="padding-bottom: 100px;">
<h1 class="display-4"  style="display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;" >Meet the Contributors!</h1>
<hr style="width:15%;color:#FFB0C2; border:2px solid #FFB0C2;margin-bottom:30px">

<div class="card-group" style="width:90%;margin:auto">

    <div class="card m-10" style="height:400px;margin-left:20px; box-shadow: -1px 3px 12px rgba(187, 195, 197, 0.6);">
      <div class="card-body text-center">
		<img src="https://avatars1.githubusercontent.com/u/42272691?v=4" alt="" style="border-radius: 50%;width:50%;">
		<h2 style="padding-top:20px;padding-bottom:20px;">Sri Manikanta Palakollu</h2>
		<a href="https://github.com/srimani-programmer"><i class="fab fa-github fa-3x" style="color:black"></i></a>
      </div>
	</div>

	<div class="card m-10" style="height:400px;margin-left:20px; box-shadow: -1px 3px 12px rgba(187, 195, 197, 0.6);">
      <div class="card-body text-center">
		<img src="https://avatars1.githubusercontent.com/u/53931841?v=4" alt="" style="border-radius: 50%;width:50%;">
		<h2 style="padding-top:20px;padding-bottom:20px;">Manan Bedi</h2>
		<a href="https://github.com/manan-bedi2908"><i class="fab fa-github fa-3x"style="color:black" ></i></a>
      </div>
    </div>
	
	<div class="card m-10" style="height:400px;margin-left:20px; box-shadow: -1px 3px 12px rgba(187, 195, 197, 0.6);">
		<div class="card-body text-center">
		  <img src="https://avatars0.githubusercontent.com/u/55224891?v=4" alt="" style="border-radius: 50%;width:50%;">
		  <h2 style="padding-top:20px;padding-bottom:20px;">Amandeep</h2>
		  <a href="https://github.com/amandp13"><i class="fab fa-github fa-3x " style="color:black" ></i></a>
		</div>
	  </div>
</div>
</div>
</body>
</html>





