<div class="row">
    <div class="col-sm-6 " style="background-color:#ccddff;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Benign Tumors</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
        Since benign tumors are harmless, doctors may opt to leave the lump alone rather than remove it. If you are experiencing discomfort, irritation or pressure, let your doctor know so that she can plan to remove it for you and improve your comfort. 
      </p>
    </div>
    <div class="col-sm-6" style="background-color:#ffccee;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Malignant tumors</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
        Malignant tumors are cancerous and aggressive because they invade and damage surrounding tissue. When a tumor is suspected to be malignant, the doctor will perform a biopsy to determine the severity or aggressiveness of the tumor.
      </p>
    </div>
  </div>